.gdDatatablePaginationControlWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: .15rem .25rem !important;

  label {
    font-size: 0.85rem;
    text-transform: lowercase;
    padding: 0.1rem;
  }


}